.loading{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.intwoline {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 32px;
  color: #333;
}



